############################################
# Build Folders
############################################
bin/
obj/
out/
publish/
artifacts/

############################################
# Visual Studio
############################################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################################
# Rider
############################################
.idea/
*.sln.iml

############################################
# VS Code
############################################
.vscode/

############################################
# Logs
############################################
*.log

############################################
# NuGet
############################################
packages/
*.nupkg
*.snupkg
.nuget/

############################################
# ASP.NET / Publish
############################################
wwwroot/lib/
appsettings.Development.json

############################################
# EF Core
############################################
Migrations/*Designer.cs
Migrations/*.resx

############################################
# Test Results
############################################
TestResults/
*.trx
*.coverage
*.coveragexml

############################################
# OS Files
############################################
.DS_Store
Thumbs.db

############################################
# Secrets
############################################
secrets.json
.env
.env.*
